{% extends "base.html" %}
{% load compress hc_extras humanize static %}



{% block containers %}
<div class="index-bleed">
<div class="container">
    <div class="row">
    <div class="col-sm-12">
            <a href="http://165.22.240.129/en/">
        <img
        style='height: 100%; width: 100%; object-fit: contain'
            class="img-responsive"
            src="{% static 'img/img4.jpg' %}"
            alt="My Checks page" />

            </a>
    </div>
    </div>

    

    
</div>
</div>

<div class="get-started-bleed">
<div class="container">
    <div class="row">
        <div id="get-started" class="col-sm-8 col-sm-offset-2 text-center">
            <h1 class="bol" style="font-family:georgia,garamond,serif;font-size:40px;font-style:italic;"> Let us take care of technology side of your Business </h1>
        

        </div>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
    <div class="col-sm-12">
        <h2 class="bol" style="font-family:georgia,garamond,serif;font-size:20px;font-style:italic;">A quick peek of what's inside.  Click on the photo to view your demo site</h2>
    </div>
    </div>

    <div class="row tour-section">
    <div class="col-sm-8">
            <a href="http://165.22.240.129/en/" target="_blank">

        <img
            class="img-responsive"
            src="{% static 'img/my_checks.png' %}"
            srcset="{% static 'img/res2.png'%} 1x, {% static 'img/my_checks@2x.png'%} 2x"
            alt="My Checks page" />
        </a>

    </div>
    <div class="col-sm-4">
        <p style="font-family:georgia,garamond,serif;font-size:20px;font-style:italic;">
            A High performance e-commerce storefront built with Python,Django, and ReactJS.

        </p>
        <p style="font-family:georgia,garamond,serif;font-size:20px;font-style:italic;">
            <strong>UX and UI</strong>: Designed for a user experience that rivals even the top commercial platforms

        </p>
            <p style="font-family:georgia,garamond,serif;font-size:20px;font-style:italic;">
            <strong>Orders</strong>: A comprehensive system for orders, dispatch and refunds


            </p>
            <p style="font-family:georgia,garamond,serif;font-size:20px;font-style:italic;">

            <strong>Dashboard</strong>: Administrators have total control of users, processes and products
        </p>
        <p style="font-family:georgia,garamond,serif;font-size:20px;font-style:italic;">
                <strong>Cart</strong> : Advanced payment and tax options, with full control over discounts and promotions
            </p>
            <p style="font-family:georgia,garamond,serif;font-size:20px;font-style:italic;">

            <strong>SEO</strong>: Packed with features that get stores to a wider audience
                        </p>

        
       
    </div>
    </div>

    
    </div>
</div>


{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script src="{% static 'js/snippet-copy.js' %}"></script>
<script src="{% static 'js/signup.js' %}"></script>
{% endcompress %}
{% endblock %}